<h1>Add a New Actor</h1>

<%= form_tag "/actors", "method" => "post" %>

  <p>
    <%= label_tag "full_name", "What is the actor's name?" %>
    <%= text_field_tag "full_name" %>
  </p>

  <p>
    <%= label_tag "url", "Do you have a link to the a photo?" %>
    <%= text_field_tag "url" %>
  </p>

  <%= submit_tag %> or <%= link_to "Cancel", "/actors" %>

</form>
