<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a New Movie", "/movies/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <% Movie.read.order("title desc").each do |movie| %>

      <div class="row movie">

        <div class="col-md-4">
          <%= link_to image_tag(movie["poster_url"]), "/movies/#{movie["id"]}" %>
        </div>

        <div class="col-md-8">
          <h2>
            <%= link_to movie["title"], "/movies/#{movie["id"]}" %>
          </h2>
          <p>Year: <%= movie["year"] %></p>

          <% director = Director.find_by("id" => movie["director_id"]) %>
          <% if director.present? %>
            <p>Directed by: <%= director["name"] %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <div class="col-md-4 well aside">
    <h2>Did You Know...</h2>

    <ul>
      <li>We have <%= Movie.count %> movies and <%= Director.count %> directors in our database.</li>

      <li>
        <% random_director = Director.sample %>
        <% number_of_movies = Movie.where(:director_id => random_director["id"]).count %>
        <%= random_director["name"] %>
        directed
        <%= pluralize(number_of_movies, "movie") %>.
      </li>

      <li><%= Movie.where("year" => 2012).count %> movies were released in 2012.</li>

      <li>The latest movie is <em><%= Movie.read.order("year desc").first["title"] %></em>.</li>
      <li>The oldest movie is <em><%= Movie.read.order("year asc").first["title"] %></em>.</li>
    </ul>
    <a href="http://www.imdb.com">Click here to go to imdb.com</a>.
  </div>

</div>








