<h1>Movie Database</h1>

<p>
  <%= link_to "Movies", "/movies" %> | <%= link_to "Actors", "/actors" %> |
  <%= link_to "Directors", "/directors" %>
</p>

<hr>

<% movie_id = params["id"] %>
<% movie = Movie.read(movie_id) %>

<h2><%= movie["title"] %> (<%= movie["year"] %>)</h2>

<%= image_tag movie["poster_url"] %>

<p><strong>Starring:</strong></p>

<% roles = Role.where("movie_id" => movie["id"]) %>

<ul>
  <% roles.each do |role| %>
    <% actor = Actor.find_by("id" => role["actor_id"]) %>
    <li><%= actor["name"] %> as <%= role["character"] %></li>
  <% end %>
</ul>




