<% movie_id = params["id"] %>
<% movie = Movie.read(movie_id) %>

<div class="row">

  <div class="col-md-4">
    <%= image_tag(movie["poster_url"]) %>
  </div>

  <div class="col-md-8">
    <h1><%= movie["title"] %>
      <small>Year: <%= movie["year"] %></small>
    </h1>

    <% director = Director.find_by("id" => movie["director_id"]) %>
    <% if director.present? %>
      <h4>Directed by <%= link_to director["name"], "/directors/#{director["id"]}" %></h4>
    <% end %>

    <h3>Cast</h3>

    <% roles = Role.where("movie_id" => movie["id"]) %>

    <ul>
      <% roles.each do |role| %>
        <% actor = Actor.find_by("id" => role["actor_id"]) %>
        <li>
          <%= link_to actor["name"], "/actors/#{actor["id"]}" %>
          as
          <%= role["character"] %>
        </li>
      <% end %>
    </ul>

  </div>
</div>


