<h1>Movie Database</h1>


<p>

  <%= link_to "Movies", "/movies/index" %> | <%= link_to "Actors", "/actors/index" %> |
  <%= link_to "Directors", "/directors/index" %>
</p>

<hr>

<!-- http://localhost:3000/movies/show?id=7 -->

<% the_movie_id = params["id"] %>

<%# the_movie = Movie.find_by("id" => the_movie_id) %>
<% the_movie = Movie.read(the_movie_id) %>

<h2><%= the_movie["title"] %> (<%= the_movie["year"] %>)</h2>

<%= image_tag the_movie["poster_url"] %>

<p><strong>Starring:</strong></p>

<% roles = Role.where("movie_id" => the_movie["id"]) %>

<ul>
  <% roles.each do |role| %>
    <% the_actor = Actor.find_by("id" => role["actor_id"]) %>
    <li><%= the_actor["name"] %> as <%= role["character"] %></li>
  <% end %>
</ul>




