<h1>Movie Database</h1>

<p>
  <%= link_to "Movies", "/movies/index" %> | <%= link_to "Actors", "/actors/index" %> |
  <%= link_to "Directors", "/directors" %>
</p>

<hr>

<% the_id = params["id"] %>
<% the_director = Director.read(the_id) %>
<% the_director.delete %>

<% all_directors = Director.read %>

<hr>

<h2>Directors</h2>

<ul>

<% all_directors.each do |director| %>

    <li>
      <%= link_to director["name"], "/directors/#{director["id"]}" %>
      (<%= link_to "Delete", "/directors/#{director["id"]}/delete" %>)
    </li>

  <% end %>

</ul>

<% all_directors.each do |director| %>
  <%= image_tag director["photo_url"], "width" => "120" %>
<% end %>

