
<% all_directors = Director.read %>

<h2>Directors</h2>

<%= link_to "Add a New Director", "/directors/new" %>

<ul>

  <% all_directors.each do |director| %>

    <li>
      <%= link_to director["name"], "/directors/#{director["id"]}" %>
      (<%= link_to "Delete", "/directors/#{director["id"]}", "method" => "delete" %>)
      (<%= link_to "Edit", "/directors/#{director["id"]}/edit" %>)
    </li>

  <% end %>

</ul>

<% all_directors.each do |director| %>
  <%= image_tag director["photo_url"], "width" => "120" %>
<% end %>

