<h1>Movie Database</h1>

<p>
  <%= link_to "Movies", "/movies/index" %> | <%= link_to "Actors", "/actors/index" %> |
  <%= link_to "Directors", "/directors/index" %>
</p>

<% all_directors = Director.read %>

<hr>

<h2>Directors</h2>

<ul>

  <% all_directors.each do |director| %>

    <li><a href="/directors/show?id=<%= director.id %>"><%= director["name"] %></a></li>

  <% end %>

</ul>

<% all_directors.each do |director| %>
  <img src="<%= director["photo_url"] %>" width="120">
<% end %>

