<h1>Movie Database</h1>

<p>
  <%= link_to "Movies", "/movies/index" %> | <%= link_to "Actors", "/actors/index" %> |
  <%= link_to "Directors", "/directors" %>
</p>

<hr>

<% the_id = params["id"] %>
<% the_director = Director.read(the_id) %>
<% movies = Movie.where("director_id" => the_director["id"]) %>

<h2>Director: <%= the_director["name"] %></h2>

<h4>Filmography</h4>

<ul>

  <% movies.each do |movie| %>

    <li>
      <strong><%= movie["title"] %></strong> (<%= movie["year"] %>).
    </li>

  <% end %>

</ul>

<% movies.each do |movie| %>
  <img src="<%= movie["poster_url"] %>" width="120">
<% end %>

