<!DOCTYPE html>
<html>
  <head>
    <title>KIEI-925</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h1>Movie Database</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <%= link_to "Movies", "/movies", "class" => "item-link"  %> |
            <%= link_to "Actors", "/actors" %> |
            <%= link_to "Directors", "/directors" %>
          </div>
          <div class="pull-right">
            <%= link_to "Sign Up", '#' %> |
            <%= link_to "Sign In", '#' %> |
            <%= link_to "My Profile", '#' %> |
            <%= link_to "Sign Out", '#' %>
          </div>
        </div>
        <hr>
      </div>

      <%= yield %>

    <div>

  </body>
</html>
